@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form method="post" asp-action="Login">
    <label>Username:</label>
    <input type="text" name="username" required />
    <label>Password:</label>
    <input type="password" name="password" required />
     @if (ViewBag.Error != null)
    {
        <div class="error">@ViewBag.Error</div>
    }

    <button type="submit">Login</button>
</form>
